<header>
    <div class="container">
        <div id="wrapper">
            <div class="logo-wrapper">
                <div class="logo-content">
                    <h1 class="title is-1">Daily Log</h1>
                </div>
            </div>
            <div class="date-wrapper">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Date</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <p class="control">
                          <input class="input" type="date" >
                        </p>
                      </div>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</header>